# Database
DATABASE_URL=postgresql+asyncpg://postgres:[PASSWORD]@db.[ID].supabase.co:5432/postgres

# Telegram Bot
PLATFORM_BOT_TOKEN=8793748868:AAGrzlnPAayZ7cZUM2IPZBSNGW27KuHZuUc

# General
IS_TEST=true
COMMISSION_PERCENT=5.0
MINI_APP_URL=https://yourapp.vercel.app

# Payment Gateways
PAYME_ID=
PAYME_KEY=

CLICK_SERVICE_ID=
CLICK_MERCHANT_ID=
CLICK_MERCHANT_USER_ID=
CLICK_SECRET_KEY=

UZUM_SERVICE_ID=
UZUM_USERNAME=
UZUM_PASSWORD=

PAYNET_MERCHANT_ID=

PAYTECH_LICENSE_API_KEY=
